{% assign sticky_top_header = section.settings.sticky_top_header %}
{% assign background_header = section.settings.background_header %}
<header>
  <div class="header layout2 {% if sticky_top_header %}header-sticky {%endif%} no-prepend-box-sticky"style="background:{{section.settings.background_header}};">    
    <div class="header-main-wrap">
      <div class="header-top">
        <div class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}">
          <div class="row">
            <div class="header-nav-mobile col-md-4 col-4">
              <a class="js-mobile-menu menu-bar mobile-navigation" href="#">
                <span class="icon">
                  <i class="icon-align-left"></i>
                </span>
              </a>
            </div>
            <div class="header-logo col-md-3 col-lg-2 col-3">
              {% if settings.logo != blank %}
                  <a href="/" class="site-header__logo-image">
                    {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                    <img                                          
                       src="{{ settings.logo | img_url: image_size, scale: 2 }}"                      
                       alt="{{ logo_alt | escape }}"
                       style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                  <noscript>
                    {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                    <img src="{{ settings.logo | img_url: image_size }}"
                         srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                         alt="{{ settings.logo.alt | default: shop.name }}"
                         style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                  </noscript>
                  </a>
                {% else %}
                  <a class="site-title" href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
            </div> 
            <div class="header-top-left col"> 	
            {%- render 'menu',se_blocks:se_blocks,tp_blocks:tp_blocks -%}
            </div>  
            <div class="header-top-meta col-auto">
              <ul class="header-control">  
                {%if section.settings.header_use_account%}
                  
                  <li class="signin item-list display-mobile">
                    <a href="/account/login" data-id="#login_pupop" class="push_side header-icon" title="{{'customer.login.log_in' | t}}" >
						<i class="icon-unlock"></i>   
                      {% unless customer %}
                      	<span>{{'customer.login.log_in' | t}}</span>
                      {% else %}
                      	<span>{{'customer.login.account' | t}}</span>
					  {% endunless %}	
                    </a>
                  </li>

                  
                 {% endif %}
                
                {% if section.settings.header_use_search_home %}
                <li class="header_search display-mobile">
                  <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                    <i class="icon-search"></i>   
                  </a>                        
                </li>   
                {% endif %}
                
                {% if section.settings.header_use_wishlist_home %}
                <li class="display-mobile"> 
                  <a href="javascript:void(0);" class="push_side header-icon" data-id="#wishlist_popup" title="{{'general.wishlist.title' | t}}">
                    <i class="icon-heart"></i>
                    <span class="header__counter" data-js-wishlist-count="0">0</span>
                  </a>                        
                </li>
                {% endif %}
                {% if section.settings.header_use_compare_home %}
                <li class="display-mobile">
                  <a href="javascript:void(0);" class="push_side header-icon" data-js-popup-button="compare-full" title="{{'general.compare.title' | t}}">
                    <i class="icon-layers" aria-hidden="true"></i>
                    <span class="header__counter" data-js-compare-count="0">0</span>
                  </a>
                </li>
                {% endif %}
                {% if section.settings.header_use_cart_home %}
                  <li class="box-minicart">
                    {% include'header-cart'%}
                  </li>
                {% endif %}
                
               
              </ul>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</header>
<style scoped>
  .header .main-menu>li>a{
    color: {{section.settings.color_menu_text}};
  }
  .header .header-icon i{
    fill: {{section.settings.color_menu_text}};
  }
  .header .header-icon {               
    color: {{section.settings.color_menu_text}};           
  }
</style> 