<div class="main-content page-faqs">
  <div class="container vc_column_container">
    <div class="row">
      <div class="col-sm-12">
        <div class="head">
          <div class="title">
            {{section.settings.faq_title}}
          </div>
        </div>
        <div class="content">
          {%- if section.blocks.size > 0 -%}         
            {%- for block in section.blocks -%}
				<div class="js-item-faq item {% if forloop.first %} active {% endif %}" id="block_{{block.id}}">
                  <div class="heading">
                    <span>{{ 'faqs.question' | t }}</span>
					<h4 class="heading-title">
                      <a href="javascript:void(0);">
                        <span>
							{{block.settings.faq_name}}
                        </span>
                        <span class="faqs-icon">
                        	<i class="icon-plus"></i>
                        </span>
                      </a>
                    </h4>
                  </div>
				  <div class="content-faqs">
					<div class="element">
                      <p>
                        {{block.settings.faq_desc}}
                      </p>
                    </div>
                  </div>
                </div>
            {%- endfor -%}
          {% else %}
            {%- for i in (1..6) -%}
                {% assign desc1 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
                {% assign desc2 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
                {% assign desc3 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
                {% assign desc4 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
          		{% assign desc5 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
          		{% assign desc6 = "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’. Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking /“Place Order/”, please check your Order Details carefully. If you want to add a new Delivery Address, click /” Add a new address/”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page." %}
          
          		{%- capture current_title -%}{%- cycle "How do I place an order?", "What payment methods are accepted?", "What do you do with my information?", "What happen if there is a pricing error?","Do you ship internationally?","How to track my order?" -%}{%- endcapture -%}
                {%- capture current_desc -%}{%- cycle desc1, desc2, desc3, desc4, desc5,desc6  -%}{%- endcapture -%}
                <div class="js-item-faq item {% if forloop.first %} active {% endif %}" id="block_{{i}}">
                  <div class="heading">
                    <span>{{ 'faqs.question' | t }}</span>
					<h4 class="heading-title">
                      <a href="javascript:void(0);">
                        <span>
							{{current_title}}
                        </span>
                        <i class="lnr lnr-chevron-down-circle icon {% unless forloop.first %} active {% endunless %}"></i>
                      </a>
                    </h4>
                  </div>
				  <div class="body">
					<div class="element">
                      <p>
                        {{current_desc}}
                      </p>
                    </div>
                  </div>
                </div>
            {%- endfor -%}
          {% endif %}
        </div>
      </div>
    </div> 
  </div>
</div>
<script type="text/javascript">
  $(document).on('click', '.js-item-faq .heading-title', function (e) {
    var faq = $(this).closest('.js-item-faq').toggleClass('active');
    faq.siblings().removeClass('active');
  }); 
</script>
{% schema %}
  {
    "name": "FAQ",
    "max_blocks": 30,
    "settings": [
        {
          "type": "paragraph",
          "content": "'Add Question' to clear default data"
        }, 
		{
          "type": "header",
          "content": "== General Setting"
        },
        {
          "type": "text",
          "id": "faq_title",
          "label": "Title",
          "default": "Frequently Asked Questions"
        }
	],
    "blocks": [{
      "type": "faq",
      "name": "Question",
      "settings": [
          {
            "type": "text",
            "id": "faq_name",
            "label": "Question",
            "default": "How do I place an order?"
          },
          {
            "type": "textarea",
            "id": "faq_desc",
            "label": "Description",
            "default": "Click on a Product Photo or Product Name to see more detailed information. To place your order, choose the specification you want and enter the quantity, and click ‘Buy Now’.<br> Please enter the required information such as Delivery Address, Quantity Type etc. Before clicking “Place Order”, please check your Order Details carefully. If you want to add a new Delivery Address, click ” Add a new address”. If you want to edit a current Delivery Address, click ‘Edit this address’. After confirming your Order, you will be automatically taken to the Payment page."
          }         
        ]
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
